/* header */
.back {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0;
  display: none;
  transition: all 0.5s ease-in;
}

.hideWindow {
  display: flex !important;
}

header .container {
  max-width: 1200px;
  margin: 27px auto 34px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav-menu,
.nav-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .nav-item {
  gap: 0;
}

header .arrow-icon,
.bars-icon {
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.rotate {
  transform: rotate(180deg);
}

nav .nav-item {
  list-style: none;
  position: relative;
}

.hideIcon {
  opacity: 0;
}

/* down */

.down {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 20px 50px -5px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  position: absolute;
  top: 40px;
  right: -154px;
  z-index: 12;
  display: none;
  transition: all 0.3s ease-in;
}

.down .listLink {
  color: #2d2b27;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 41px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  transition: all  .5s ease;
}

.down .listLink:hover {
  color: #969593;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 41px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.down .listItem {
  list-style: none;
}

.listMenu .line {
  margin: 0;
}

/* down */

/* Open & Close */
#check {
  display: none;
}

label #cancel,
label #menu {
  cursor: pointer;
  position: relative;
  z-index: 111;
}

label #menu {
  transition: all 0.5s ease;
  padding: 2px;
  border-radius: 4px;
}

label #menu:hover {
  background-color: #cecdcd8c;
}

label #cancel {
  width: 32px;
  position: fixed;
  top: 27px;
  right: 95px;
  z-index: 1111;
  opacity: 0;
  transition: all 0.5s ease;
  padding: 2px;
  border-radius: 4px;
}

.hideBtn {
  display: none;
}

label #cancel:hover {
  background-color: #dedcd964;
  backdrop-filter: blur(5px);
}

#check:checked ~ label #cancel {
  opacity: 1;
}

#check:checked ~ .menuBody {
  right: 0;
}

#check:checked ~ label #menu {
  opacity: 0;
  visibility: hidden;
}

#check:checked .header {
  left: 400px;
  background-color: #000;
}

.menuBody {
  position: fixed;
  width: 700px;
  height: 100vh;
  background-color: #fff;
  right: -900px;
  top: -1px;
  transition: all 0.5s ease;
  z-index: 200;
  /* padding-top: 41px;
  padding-right: 80px; */
  padding: 100px 80px 0px 105px;
  backdrop-filter: blur(5px);
}

/* new changes */
.bodyMenu {
  padding-left: 0;
  margin: 0;
  padding: 100px 80px auto 105px;
}
.bodyMenu .bodyItem a {
  color: #2d2b27;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 41px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
}

.line {
  width: 90%;
  height: 1px;
  flex-shrink: 0;
  background: #d9d9d9;
  margin: 0 auto;
}

.bodyItem ul {
  padding-left: 0;
  text-align: end;
}

.bodyItem ul li {
  list-style: none;
}

.departmantsMenu .departmentsItem {
  margin-bottom: 24px;
}

.departmantsMenu .departmentsItem:last-child {
  margin-bottom: 50px;
}

.departmantsMenu .departmantsLink {
  transition: all 0.2s linear;
}

.departmantsMenu .departmantsLink:hover {
  color: #969593;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 41px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}

.services {
  margin: 20px 0;
}

.services .servecesItem a {
  color: #2d2b27;
  text-align: center;
  font-family: Cormorant SC;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.services .servecesItem {
  margin-bottom: 24px;
}

.services .servecesItem:last-child {
  margin-bottom: 0;
}

/* ----------------------- */

.conditions {
  margin-top: 20px;
}

.conditions .conditionsItem a {
  color: #969593;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: all 0.2s linear;
}

.conditions .conditionsItem a:hover {
  color: #2d2b27;
}

/* new changes */

.menuBody .bodyItem {
  list-style: none;
  /* padding: 10px 20px; */
  position: relative;
  transition: all 0.5s ease;
}

.menuBody .bodyLink {
  text-decoration: none;
  font-size: 32px;
}

/* Intro stayle */

.d-flex {
  justify-content: space-between;
  align-items: end;
}

.intro .intro-title {
  margin: 0;
  margin-bottom: 65px;
}

.intro-img {
  transform: translateX(100px);
}

.intro .intro-content-text {
  color: #92918f;
}

/* Slider */

.swiper {
  max-width: 1400px;
  position: relative;
  margin-top: 92px;
}

.swiper-slide .swiper-img {
  height: 585px;
  object-fit: cover;
  width: 100%;
  border-radius: 50px;
}

.swiper-slide {
  position: relative;
}

.swiper-caption {
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: #fff;
}

.swiper-btns {
  position: absolute;
  right: 200px;
  bottom: 78px;
  z-index: 10;
}

.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-btn img {
  width: 44px;
}

.swiper-btn .rotate-btn {
  transform: rotate(180deg);
  margin-right: 106px;
}

.swiper-btn img:last-child {
  margin-left: 106px;
}

.imgSlider .swiper-pagination {
  position: relative;
  top: 50%;
  transform: translate(10px, 10px);
}

.swiper-pagination-bullet {
  background-color: #ffffff88;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Footer  */
.footer-box {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 80px 0;
  position: relative;
  text-align: center;
}

.footer .container {
  text-align: center;
}
.footer-number {
  font-variant-numeric: lining-nums tabular-nums;
  margin: 24px 0px 22px 0px;
}

.footer-menu {
  justify-content: center;
  gap: 24px;
  margin-bottom: 43px;
}

.footer-item {
  list-style: none;
}

.footer-link {
  text-transform: none;
  text-decoration: none;
}

.footer-descr {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom p {
  color: #92918f;
}

.footer .abstracts-text {
  margin-right: 16px;
}

.footer .abstract-text:last-child {
  margin-right: 0;
}

/* ProductPages */

.imgPreviews .imgPreview {
  height: 580px;
  width: 80px;
}

/* ProductPages */

/* mediaQuery */

@media screen and (max-width: 1420px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 600px;
  }
  .intro-title {
    font-size: 80px;
  }
  .img-slider .swiper,
  .swiper-slide img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-caption {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 90%;
  }
  .intro .container {
    flex-direction: column;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 150px;
    bottom: 50px;
  }
}

@media screen and (max-width: 930px) {
  .container {
    max-width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  header .nav-link,
  .arrow-icon {
    display: none;
  }

  .footer-menu {
    flex-wrap: wrap;
  }

  .footer-bottom {
    flex-wrap: wrap;
    align-items: start;
  }
}

@media screen and (max-width: 425px) {
  .swiper-caption {
    font-size: 50px;
    left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .menuBody {
    width: 100%;
  }
}
