/* header */

header .container {
  max-width: 1200px;
  margin: 27px auto 34px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .nav-menu,
.nav-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

header .nav-item {
  gap: 0;
}

header .arrow-icon,
.bars-icon {
  cursor: pointer;
}

nav .nav-item {
  list-style: none;
  position: relative;
}

.hideIcon {
  opacity: 0;
}

/* down */

.downBox {
  height: 200px;
  width: 200px;
  background-color: #d9d9d96b;
  border-radius: 10px;
  position: absolute;
  z-index: 10;
  display: none;
  transition: all 0.5s ease-in;
  backdrop-filter: blur(5px);
}

.downBox.frist,
.two,
.there {
  left: -96px;
  top: 36px;
}

.downMenu {
  padding-left: 0;
  padding: 10px;
  position: relative;
  z-index: 12;
}

.downItem {
  list-style: none;
  transition: all 0.5s linear;
  border-radius: 5px;
}

.downItem:hover {
  padding-left: 12px;
  background-color: #5aee2584;
  backdrop-filter: blur(5px);
}

.downLink {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

/* down */

/* Open & Close */
#check {
  display: none;
}

label #cancel,
label #menu {
  cursor: pointer;
  position: relative;
  z-index: 111;
}

label #menu {
  transition: all 0.5s ease;
  padding: 2px;
  border-radius: 4px;
}

label #menu:hover {
  background-color: #92918f;
}

label #cancel {
  width: 32px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 1111;
  opacity: 0;
  transition: all 0.5s ease;
  padding: 2px;
  border-radius: 4px;
}

label #cancel:hover {
  background-color: #e08a08b0;
}

#check:checked ~ label #cancel {
  opacity: 1;
}

#check:checked ~ .menuBody {
  right: 0;
}

#check:checked ~ label #menu {
  opacity: 0;
}

#check:checked ~ .header {
  left: 400px;
}

.menuBody {
  position: fixed;
  width: 400px;
  height: 100vh;
  background-color: #d9d9d9c6;
  right: -410px;
  top: -1px;
  transition: all 0.5s ease;
  z-index: 11;
  padding-top: 50px;
  backdrop-filter: blur(5px);
}

.menuBody .bodyItem {
  list-style: none;
  padding: 10px 20px;
  position: relative;
  transition: all 0.5s ease;
}

.menuBody .bodyItem::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background-color: #000;
  left: 0;
  bottom: 0;
  border-top-right-radius: 10px;
  transition: all 0.5s linear;
}

.menuBody .bodyItem:hover {
  background-color: #ffffff52;
}

.menuBody .bodyItem:hover::after {
  width: 100%;
  background-color: #fff;
}

.menuBody .bodyLink {
  text-decoration: none;
  font-size: 32px;
}

/* Intro stayle */

.d-flex {
  justify-content: space-between;
  align-items: end;
}

.intro .intro-title {
  margin: 0;
  margin-bottom: 65px;
}

.intro-img {
  transform: translateX(100px);
}

.intro .intro-content-text {
  color: #92918f;
}

/* Slider */

.swiper {
  max-width: 1400px;
  position: relative;
  margin-top: 92px;
}

.swiper-slide .swiper-img {
  height: 585px;
  object-fit: cover;
  width: 100%;
  border-radius: 50px;
}

.swiper-slide {
  position: relative;
}

.swiper-caption {
  position: absolute;
  bottom: 0px;
  left: 100px;
  color: #fff;
}

.swiper-btns {
  position: absolute;
  right: 200px;
  bottom: 78px;
  z-index: 10;
}

.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-btn img {
  width: 44px;
}

.swiper-btn .rotate-btn {
  transform: rotate(180deg);
  margin-right: 106px;
}

.swiper-btn img:last-child {
  margin-left: 106px;
}

.imgSlider .swiper-pagination {
  position: relative;
  top: 50%;
  transform: translate(10px, 10px);
}

.swiper-pagination-bullet {
  background-color: #ffffff88;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

/* Footer  */
.footer-box {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  margin: 80px 0;
  position: relative;
  text-align: center;
}

.footer .container {
  text-align: center;
}
.footer-number {
  font-variant-numeric: lining-nums tabular-nums;
  margin: 24px 0px 22px 0px;
}

.footer-menu {
  justify-content: center;
  gap: 24px;
  margin-bottom: 43px;
}

.footer-item {
  list-style: none;
}

.footer-link {
  text-transform: none;
  text-decoration: none;
}

.footer-descr {
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom p {
  color: #92918f;
}

.footer .abstracts-text {
  margin-right: 16px;
}

.footer .abstract-text:last-child {
  margin-right: 0;
}

/* mediaQuery */

@media screen and (max-width: 1420px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 600px;
  }
  .intro-title {
    font-size: 80px;
  }
  .img-slider .swiper,
  .swiper-slide img {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .swiper-caption {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    max-width: 90%;
  }
  .intro .container {
    flex-direction: column;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 150px;
    bottom: 50px;
  }
}

@media screen and (max-width: 930px) {
  .container {
    max-width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 0;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 90%;
  }
  .intro-img {
    transform: translateX(0px);
    width: 100%;
    position: relative;
    right: 10px;
    bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  header .nav-link,
  .arrow-icon {
    display: none;
  }

  .footer-menu {
    flex-wrap: wrap;
  }

  .footer-bottom {
    flex-wrap: wrap;
    align-items: start;
  }
}

@media screen and (max-width: 425px) {
  .swiper-caption {
    font-size: 50px;
    left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .menuBody 
  {
    width: 100%;
  }
}
